<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- head     -->

<head th:replace="~{/fragments/head :: head}"> </head>

<body>

	<main>
		<!--header-->
		<header th:replace="~{/fragments/header :: header}"> </header>


		<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">

			<div class="container">
				Admin...
			</div>

			<div class="hero-slides"></div>
		</section>
		<!-- footer -->
		<footer th:replace="~{/fragments/footer :: footer}"> </footer>
	</main>

	<!-- JAVASCRIPT FILES -->


</body>

</html>