<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- head     -->

<head th:replace="~{/fragments/head :: head}"> </head>

<body>

    <main>
        <!--header-->
        <header th:replace="~{/fragments/header :: header}"> </header>


        <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">

            <div class="container" style="background-color: rgb(22, 23, 47);">
                <form class="custom-form booking-form" action="#" method="post" role="form" th:action="@{/login}">
                    <div class="text-center mb-4 pb-lg-2">
                        <h2 class="text-white">Login</h2>
                    </div>
                    <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Enter the Email"
                      required>
                    <input type="password" name="password" id="password" class="form-control"
                      placeholder="Enter the Password" required>
                    <input type="Submit" value="Submit" style="background-color: chocolate; " class="form-control">
                    <input type="checkbox" class="form-check-input" value="remember-me" id="remember-me"
                      name="remember-me">
                    <label style="color:white;" class="form-check-label" for="flexCheckChecked">Remember me</label>
                    <a th:href="@{/forgot_password}" class="link-secondary">Forgot password</a>
                </form>
            </div>

            <div class="hero-slides"></div>
        </section>
        <!-- footer -->
        <footer th:replace="~{/fragments/footer :: footer}"> </footer>
    </main>

    <!-- JAVASCRIPT FILES -->


</body>

</html>