<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Vlog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,400;0,600;0,700;1,200;1,700&display=swap"
      rel="stylesheet">
    <link th:href="@{\css\bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{\css\bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{\css\tooplate-barista.css}" rel="stylesheet">
    <link th:href="@{\css\vegas.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/43.2.0/ckeditor5.css" />
    <link th:href="@{\css\admin.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <main>
        <header>
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand d-flex align-items-center" href="/">
                        PostItUp
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/"><i class="fa fa-home"></i> Home</a>
                            </li>
                            <li class="nav-item" sec:authorize="!isAuthenticated()">
                                <a class="nav-link" href="/register"><i class="fa fa-user-plus"></i> Register</a>
                            </li>
                            <li class="nav-item" sec:authorize="!isAuthenticated()">
                                <a class="nav-link" href="/login"><i class="fa fa-sign-in-alt"></i> Login</a>
                            </li>
                            <li class="nav-item" sec:authorize="isAuthenticated()">
                                <a class="nav-link" href="/profile"><i class="fa fa-user"></i> Profile</a>
                            </li>
                            <li class="nav-item" sec:authorize="isAuthenticated()">
                                <a class="nav-link" href="/post/add"><i class="fa fa-plus-circle"></i> Add Post</a>
                            </li>
                            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                                <a class="nav-link" href="/admin"><i class="fa fa-cogs"></i> Admin</a>
                            </li>
                            <li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_EDITOR')">
                                <a class="nav-link" href="/admin"><i class="fa fa-users-cog"></i> Admin</a>
                            </li>
                            <li class="nav-item" sec:authorize="hasAuthority('ROLE_EDITOR')">
                                <a class="nav-link" href="/editor"><i class="fa fa-edit"></i> Editor</a>
                            </li>
                            <li class="nav-item" sec:authorize="isAuthenticated()">
                                <a class="nav-link" href="/logout"><i class="fa fa-sign-out-alt"></i> Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">

            <div class="container">
            </div>

            <div class="hero-slides"></div>
        </section>
        <!-- footer -->
        <footer class="site-footer">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-12 me-auto">
                        <em class="text-white d-block mb-4">Where to find us?</em>

                        <strong class="text-white">
                            <i class="bi-geo-alt me-2"></i>
                            Bandra West, Mumbai, Maharashtra 400050, India
                        </strong>

                        <ul class="social-icon mt-4">
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-facebook">
                                </a>
                            </li>

                            <li class="social-icon-item">
                                <a href="https://x.com/minthu" target="_new" class="social-icon-link bi-twitter">
                                </a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-whatsapp">
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-12 mt-4 mb-3 mt-lg-0 mb-lg-0">
                        <em class="text-white d-block mb-4">Contact</em>

                        <p class="d-flex mb-1">
                            <strong class="me-2">Phone:</strong>
                            <a href="tel: 305-240-9671" class="site-footer-link">
                                (65)
                                305 2409 671
                            </a>
                        </p>

                        <p class="d-flex">
                            <strong class="me-2">Email:</strong>

                            <a href="mailto:info@yourgmail.com" class="site-footer-link">
                                hello@barista.co
                            </a>
                        </p>
                    </div>


                    <div class="col-lg-5 col-12">
                        <em class="text-white d-block mb-4">Opening Hours.</em>

                        <ul class="opening-hours-list">
                            <li class="d-flex">
                                Monday - Friday
                                <span class="underline"></span>

                                <strong>9:00 - 18:00</strong>
                            </li>

                            <li class="d-flex">
                                Saturday
                                <span class="underline"></span>

                                <strong>11:00 - 16:30</strong>
                            </li>

                            <li class="d-flex">
                                Sunday
                                <span class="underline"></span>

                                <strong>Closed</strong>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-8 col-12 mt-4">
                        <p class="copyright-text mb-0">Copyright © Barista Cafe 2048
                            - Design: <a rel="sponsored" href="https://www.tooplate.com" target="_blank">Tooplate</a>
                        </p>
                    </div>
                </div>
                <script th:src="@{/js/jquery.min.js}"></script>
                <script th:src="@{/js/bootstrap.min.js}"></script>
                <script th:src="@{/js/jquery.sticky.js}"></script>
                <script th:src="@{/js/click-scroll.js}"></script>
                <script th:src="@{/js/vegas.min.js}"></script>
            <script th:src="@{/js/admin.js}"></script>
            <script th:src="@{/js/custom.js}"></script>
                <script src="https://cdn.ckeditor.com/ckeditor5/35.3.2/classic/ckeditor.js"></script>
                <script>
                    ClassicEditor
                        .create(document.querySelector('#editor'))
                </script>
        </footer>
    </main>

    <!-- JAVASCRIPT FILES -->


</body>

</html>